@media (max-width: 768px) {
    
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top__content {
        width: 343px;

    }
    .title {
        
        text-align: center;
        font-size: 32px;
        flex-shrink: 0;
        padding-top: 238px;
        display: flex;
        width: 343px;
        height: 77.436px;
        flex-direction: column;
        justify-content: center;
    }
    .top__text{
       
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        line-height: 22px; 
        padding-top: 32.95px;
        padding-bottom: 32.95px;
    }
    .menu__link {
        line-height: 22px;
        font-size: 14px;
        font-weight: 700;
    }
    .header__input{
        margin-left: 70.47px;
        margin-right: 70.47px;
    }  
    
    

    .game {
       
        flex-wrap: wrap;

    }
    .game__item{
        width: 343px;
    }   
 }

